body {
    background-color: #f0f0f0;
    font-family:Tahoma, sans-serif;
    color:#555;
    margin:0;
}

.container {
  width:80%;
  margin:auto;
  overflow:hidden;
}

#main-header {
  background-color:#8BBF9F;
  color:#fff;
  text-align:center;
}

#nav-bar {
  background-color: #7d7d7d;
}

#nav-bar ul{
  padding:0;
  list-style:none;
}

#nav-bar li{
  display:inline;
  padding-right: 10px;
}

#nav-bar a{
  color:white;
  text-decoration:none;
  font-size:18px
}

.footnote {
  color:#bfbfbf;
  
}

